{:paths ["src" "test"]
 :deps {com-junkawasaki/ed25519-clj
        {:git/url "https://github.com/com-junkawasaki/ed25519-clj"
         :git/sha "ec077bca1f90027bc718557f1e8bb6fbc004fe5a"}}
 :tasks
 {test
  {:task (do (require 'clojure.test
                       'kotoba.signal.hkdf-test
                       'kotoba.signal.x3dh-test
                       'kotoba.signal.ratchet-test
                       'kotoba.signal.group-test)
             (let [r (clojure.test/run-tests 'kotoba.signal.hkdf-test
                                              'kotoba.signal.x3dh-test
                                              'kotoba.signal.ratchet-test
                                              'kotoba.signal.group-test)]
               (when (pos? (+ (:fail r) (:error r))) (System/exit 1))))}}}
