{:paths ["src"]
 :deps {io.github.kotoba-lang/ed25519 {:git/sha "ec077bca1f90027bc718557f1e8bb6fbc004fe5a"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
